* {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --columnWidth: 1100px;
    --headerHeight: 80px;
    --blueColor: #15add6;
    --animation_duration: 0.3s;
    --easingBounce: cubic-bezier(0.68, -0.55, 0.265, 2);
    --easingNormal: ease-in-out;
}

body {
    margin: 0px;
    background-color: #e7eaf0;
}

.header {
    width: 100%;
    height: var(--headerHeight);
    z-index: -1;
}

.headerColumn {
    display: block;
    width: var(--columnWidth);
    height: 100%;
    margin: auto;
}

.headerLogo {
    display: block;
    float: left;
    height: 100%;
}

.headerIcon {
    float: left;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 17px;
}

.headerFont {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 13px;
}

.time {
    height: var(--headerHeight);
    line-height: var(--headerHeight);
    float: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

.material-icons.blue {
    color: var(--blueColor);
    float: left;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 5px;
}

#current-hour {
    font-size: 16px;
    font-weight: 600;
    line-height: var(--headerHeight);
    color: var(--blueColor);
    letter-spacing: 0.5px;
    float: left;
}

.logOut {
    float: right;
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.logOut:hover {
    opacity: 0.5;
}

.logOut-icon {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 17px;
}

.username {
    font-size: 16px;
    font-weight: 500;
    color: var(--blueColor);
    float: left;
    margin-right: 13px;
    line-height: var(--headerHeight);
}

.table-margins {
    margin: 7px auto;
    width: var(--columnWidth);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #c1c1c1;
    padding: 0.5%;
}

.table-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.day-name {
    text-align: center;
    font-size: 1.1em;
    line-height: 50px;
    color: #767676;
    width: 20%;
}

.hour-cell {
    height: 40px;
}

.class {
    margin: 0 4%;
    color: white;
    cursor: pointer;
    position: relative;
    -webkit-transition: all var(--animation_duration) var(--easingNormal);
    -moz-transition: all var(--animation_duration) var(--easingNormal);
    transition: all var(--animation_duration) var(--easingNormal);
}

.start {
    border-radius: 7px 7px 0 0;
    padding: 7% 7% 0 7%;
    height: 110%;
    position: relative;
    z-index: 1;
}

.mid {
    height: 110%;
    display: block;
}

.end {
    border-radius: 0 0 7px 7px;
    height: 110%;
    position: relative;
}

.margin-space {
    height: 15px;
}

.c0 {background-color: #5585e0;}

.c1 {background-color: #44b756;}

.c2 {background-color: #d9a925;}

.c3 {background-color: #ce4221;}

.c4 {background-color: #5bc4b0;}

.c5 {background-color: #c954bc;}

.c6 {background-color: #aec954;}

.place {
    font-size: 0.8em;
    top: 15px;
    left: 7%;
    position: absolute;
}

.class-time-start {
    font-size: 0.8em;
    right: 7%;
    top: 15px;
    position: absolute;
}

.subject-extra {
    position: absolute;
    width: 90%;
    top: 90%;
    left: 7%;
    -webkit-transition: all 0.2s var(--easingNormal);
    -moz-transition: all 0.2s var(--easingNormal);
    transition: all 0.2s var(--easingNormal);
}

.subject-title {
    font-size: 1.1em;
    font-family: Raleway;
    font-weight: 400;
    word-wrap: break-word;
    margin: 0;
}

.extra-info {
    margin-top: 2%;
}

.hover-box .subject-extra {
    margin-top: -3px;
    opacity: 0.5;
}

.class-time-end {
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 7% 7% 0;
    overflow: visible;
}

.shadow {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    -webkit-transition: all var(--animation_duration) var(--easingNormal);
    -moz-transition: all var(--animation_duration) var(--easingNormal);
    transition: all var(--animation_duration) var(--easingNormal);
    visibility: hidden;
    z-index: 2;
}

.active-shadow {
    opacity: 0.3;
    visibility: visible;
}

.detailed-box {
    position: fixed;
    width: 100%;
    bottom: -150px;
    box-shadow: 0 0 1.6em rgba(0,0,0,0.5);
    color: white;
    -webkit-transition: all var(--animation_duration) var(--easingNormal);
    -moz-transition: all var(--animation_duration) var(--easingNormal);
    transition: all var(--animation_duration) var(--easingNormal);
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}

.active-box {
    visibility: visible;
    opacity: 1;
    bottom: 0;
}

.detailed-content {
    width: 560px;
    margin: 0 auto;
    padding: 30px 30px 80px 30px;
}

.cross {
    cursor: pointer;
    float: right;
    -webkit-transition: all 0.2s var(--easingBounce);
    -moz-transition: all 0.2s var(--easingBounce);
    transition: all 0.2s var(--easingBounce);
}

.cross:hover {
    transform: scale(1.5);
}

.detailed-place {
    font-size: 1.5em;
    width: 33%;
    float: left;
}

.detailed-time {
    position: absolute;
    font-size: 1.5em;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.detailed-name {
    clear: both;
    font-size: 2.8em;
    font-weight: 400;
    text-align: center;
    margin: 20px auto;
    font-family: Raleway;
    line-height: Normal;
}

.detailed-info {
    margin-bottom: 80px;
}

.detailed-data {
    float: right;
}

.detailed-label {
    clear: both;
    float: left;
    font-weight: 600;
    margin-right: 10px;
}

@media screen and (max-width:1100px) {
    :root {
        --columnWidth: 100%;
    }
    .headerColumn {
        width: 100%;
    }
    .table-margins {
        border-radius: 0px;
        margin: 0 auto;
    }
}

@media screen and (max-width:560px) {
    .time {
        display: none;
    }
    .username {
        display: none;
    }
    .detailed-content {
        width: 100%;
    }
    .subject-title {
        font-size: 0.8em;
    }
}

@media screen and (max-width:450px) {
    :root {
        --columnWidth: 150%;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
    }
    .table-margins {
        margin-top: var(--headerHeight);
    }
}