* {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --columnWidth: 1200px;
    --headerHeight: 80px;
    --blueColor: #15add6;
    --animation_duration: 0.3s;
    --easingBounce: cubic-bezier(0.68, -0.55, 0.265, 2);
    --easingNormal: ease-in-out;
}

body {
    margin: 0px;
    background-color: #e7eaf0;
}

.header {
    width: 100%;
    height: var(--headerHeight);
    z-index: -1;
}

.headerColumn {
    display: block;
    width: var(--columnWidth);
    height: 100%;
    margin: auto;
}

.headerLogo {
    display: block;
    float: left;
    height: 100%;
}

.headerIcon {
    float: left;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 17px;
}

.headerFont {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 13px;
}

.time {
    height: var(--headerHeight);
    line-height: var(--headerHeight);
    float: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

.material-icons.blue {
    color: var(--blueColor);
    float: left;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 5px;
}

#current-hour {
    font-size: 16px;
    font-weight: 600;
    line-height: var(--headerHeight);
    color: var(--blueColor);
    letter-spacing: 0.5px;
    float: left;
}

.logOut {
    float: right;
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.logOut:hover {
    opacity: 0.5;
}

.logOut-icon {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding-right: 17px;
}

.username {
    font-size: 16px;
    font-weight: 500;
    color: var(--blueColor);
    float: left;
    margin-right: 13px;
    line-height: var(--headerHeight);
}

.table-margins {
    margin: 7px auto;
    width: var(--columnWidth);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #c1c1c1;
    padding: 0.5%;
}

.table-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    table-layout: fixed;
}

.day-row {
    height: 40px;
}

.day-name {
    text-align: center;
    color: #8e8e8e;
}

.day-column {
    border-right: 1px solid #eaeaea;
}

.day-column:nth-child(5) {
    border: none;
}

.calendar-background:nth-child(2n) { /*hores*/
    border-bottom: 1px solid #d0d0d0;
}

.calendar-background:nth-child(2n+1) { /*mitjes hores*/
    border-bottom: 1px dotted #e3e3e3;
}

.class-out {
    position: absolute;
    padding: 3px;
}

.class-in {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 3px 6px;
    color: white;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    will-change: transform;
    border: 3px solid rgba(0, 0, 0, 0.0);
}

.class-in:hover {
    transform: scale(0.98);
    border: 3px solid rgba(0, 0, 0, 0.2);
    
}

.class-in:active {
    transform: scale(0.95);
}

.subject-data {
    float: left;
    position: relative;
    overflow: hidden;
}

.subject-timing {
    height: 100%;
    float: right;
    position: relative;
}

.start-hour {
    float: right;
    position: absolute;
    right: 0;
}

.end-hour {
    bottom: 0;
    right: 0;
    position: absolute;
}

.subject-title {
    clear: both;
    font-family: 'Raleway';
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subject-extra {
    opacity: 0.6;
    font-family: 'Raleway';
    font-size: 1em;
}

.invisible {
    visibility: hidden;
}

.c0 {background-color: #5585e0;}

.c1 {background-color: #44b756;}

.c2 {background-color: #d9a925;}

.c3 {background-color: #ce4221;}

.c4 {background-color: #5bc4b0;}

.c5 {background-color: #c954bc;}

.c6 {background-color: #aec954;}

.place-paralel-3 {
    visibility: hidden;
}

.shadow {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    -webkit-transition: all var(--animation_duration) var(--easingNormal);
    -moz-transition: all var(--animation_duration) var(--easingNormal);
    transition: all var(--animation_duration) var(--easingNormal);
    visibility: hidden;
    z-index: 2;
    will-change: opacity;
}

.active-shadow {
    opacity: 0.1;
    visibility: visible;
}

.detailed-box {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 1.6em rgba(0,0,0,0.5);
    color: white;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    visibility: hidden;
    z-index: 3;
    transform: translate(0,100%);
    will-change: transform;
}

.active-box {
    visibility: visible;
    transform: translate(0,0);
    transition-timing-function: ease-out;
}

.detailed-content {
    width: 560px;
    margin: 0 auto;
    padding: 30px 30px 80px 30px;
}

.cross {
    cursor: pointer;
    float: right;
    -webkit-transition: all 0.2s var(--easingBounce);
    -moz-transition: all 0.2s var(--easingBounce);
    transition: all 0.2s var(--easingBounce);
}

.cross:hover {
    transform: scale(1.5);
}

.detailed-place {
    font-size: 1.5em;
    width: 33%;
    float: left;
}

.detailed-time {
    position: absolute;
    font-size: 1.5em;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.detailed-name {
    clear: both;
    font-size: 2.8em;
    font-weight: 400;
    text-align: center;
    margin: 20px auto;
    font-family: Raleway;
    line-height: Normal;
}

.detailed-info {
    margin-bottom: 80px;
}

.detailed-data {
    float: right;
}

.detailed-label {
    clear: both;
    float: left;
    font-weight: 600;
    margin-right: 10px;
}

@media screen and (max-width:1200px) {
    :root {
        --columnWidth: 100%;
    }
    .headerColumn {
        width: 100%;
    }
    .table-margins {
        border-radius: 0px;
        margin: 0 auto;
    }
}

@media screen and (max-width:1000px) {
    .place-paralel-2 {
        display: none;
    }
    .subject-title {
        font-size: 1.1em;
        position: absolute;
        top: 22px;
        width: 100%;
    }
    .subject-extra {
        font-size: 1.1em;
    }
}

@media screen and (max-width:900px) {
    .subject-title {
        font-size: 1em;
    }
    .subject-extra {
        font-size: 1em;
    }
    .time-paralel-3 {
        font-size: 0.8em;
        right: -6px;
    }
    .title-paralel-3 {
        word-wrap: break-word;
    }
    title-paralel-4 {
        display: none;
    }
    time-paralel-4 {
        display: none;
    }
}

@media screen and (max-width:600px) {
    :root {
        --columnWidth: 600px;
    }
    .time {
        visibility: hidden;
    }
    .detailed-content {
        width: 100%;
    }
    .extra-info {
        font-size: 0.8em;
    }
    .subject-title {
        font-size: 0.9em;
    }
    .subject-extra {
        font-size: 0.9em;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
    }
    .table-margins {
        margin-top: var(--headerHeight);
    }
}