* {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --blueColor: #0eaed9;
    --animation_duration: 0.3s;
    --easingBounce: cubic-bezier(0.68, -0.55, 0.265, 2.55);
    --easingNormal: ease-in-out;
}

body {
    margin: 0;
    background-color: #e7eaf0;
}

.box {
    width: 400px;
    margin: 40px auto 0 auto;
    padding: 20px;
    display: block;
}

.material-icons {
    display: block;
    float: left;
    cursor: pointer;
    color: #0eaed9;
    width: 50px;
    -webkit-transition: all var(--animation_duration) var(--easingBounce);
    -moz-transition: all var(--animation_duration) var(--easingBounce);
    transition: all var(--animation_duration) var(--easingBounce);
    will-change: opacity transform;
}

.material-icons:hover {
    opacity: 0.6;
    transform: translate(-10px,0);
}

h1 {
    color: #0eaed9;
    margin: 0;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 2em;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    line-height: 30px;
}

header {
    margin-bottom: 70px;
}

h2 {
    font-family: 'Raleway';
    color: #656565;
    font-size: 1.2em;
    font-weight: 500;
    margin: 40px 0 20px 0;
}

p {
    color: #848484;
    font-size: 1em;
    margin: 10px 0 10px 0;
    text-align: justify;
}

@media screen and (max-width:400px) {
    .box {
        width: 100%;
    }
}
@media screen and (max-height:400px) {
    .box {
        margin: 20px auto 0 auto;
    }
}
