* {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --blueColor: #0eaed9;
    --animation_duration: 0.3s;
    --easingBounce: cubic-bezier(0.68, -0.55, 0.265, 2.55);
    --easingNormal: ease-in-out;
}

body {
    margin: 0;
    background-color: #e7eaf0;
}

.box {
    width: 400px;
    margin: 40px auto 0 auto;
    padding: 20px;
    display: block;
}

.logo {
    margin: 0 auto 35px auto;
    display: block;
}

.form_field {
    display: block;
    width: 80%;
    margin: 15px auto;
    background-color: #ffffff;
    line-height: 45px;
    padding-left: 25px;
    color: #7b7b7b;
    font-size: 1.2em;
    border-radius: 25px;
    border-style: none;
    -webkit-transition: all var(--animation_duration) var(--easingNormal);
    -moz-transition: all var(--animation_duration) var(--easingNormal);
    transition: all var(--animation_duration) var(--easingNormal);
}

.form_field::-webkit-input-placeholder { color: #d1d1d1; }
.form_field:-moz-placeholder { color: #d1d1d1; }
.form_field::-moz-placeholder { color: #d1d1d1; }
.form_field:-ms-input-placeholder { color: #d1d1d1; }

.form_field:focus {
    outline:none;
    box-shadow: 0 0 6px var(--blueColor);
}

.login_button {
    display: block;
    width: 50%;
    margin: 13px auto 0 auto;
    text-align: center;
    line-height: 45px;
    border-radius: 25px;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.4em;
    font-weight: 200;
    background-color: var(--blueColor);
    border-style: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    will-change: auto;
}

.login_button:hover {
    opacity: 0.6;
    text-decoration: None;
    width: 60%;
    color: white;
}

.login_button:focus {
    outline: none;
}

.login_button:active {
    transform: scale(0.9);
}

.need-help {
    color: var(--blueColor);
    font-weight: 600;
    -webkit-transition: all var(--animation_duration) var(--easingNormal);
    -moz-transition: all var(--animation_duration) var(--easingNormal);
    transition: all var(--animation_duration) var(--easingNormal);
    opacity: 1;
    margin-top: 15px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.need-help:hover {
    opacity: 0.6;
    text-decoration: none;
    color: var(--blueColor);
}

.alerta {
    visibility: hidden;
    line-height: 0px;
    opacity: 0;
    font-size: 1.1em;
    margin: 0;
    margin: auto;
    color: #db506b;
    text-align: center;
    -webkit-transition: all var(--animation_duration) var(--easingNormal);
    -moz-transition: all var(--animation_duration) var(--easingNormal);
    transition: all var(--animation_duration) var(--easingNormal);
    will-change: auto;
}

.activa {
    visibility: visible;
    opacity: 1;
    line-height: 40px;
}

@media screen and (max-width:400px) {
    .box {
        width: 100%;
    }
}
@media screen and (max-height:400px) {
    .box {
        margin: 20px auto 0 auto;
    }
}
