<!DOCTYPE html>
<html>
	<head>
        <title>Hermes - Ajuda</title>
        <link rel="icon" href="/static/img/headerIcon.png">
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
        <!--Responsive-->
        <meta name='viewport' content='width=device-width, initial-scale=1 maximum-scale=1, user-scalable=0'>
		<!--jQUERY MIN.JS-->
		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
		<!--BOOTSTRAP CSS-->
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
		<!--BOOTSTRAP MIN.JS-->
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS' crossorigin='anonymous'></script>
		<!--MY CSS-->
		<link rel='stylesheet' type='text/css' href='/static/help.css?v={{ range(1,10000) | random() }}'>
        <!--My Fonts-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Raleway:400,500' rel='stylesheet'>
        <!--Google Icons-->
        <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	</head>
	<body>
        <div class='box'>
            <header>
                <a href="/"><i class="material-icons" style="font-size: 30px">arrow_back</i></a>
                <h1>Ajuda</h1>
            </header>
            <h2>Què és Hermes?</h2>
            <p>Hermes és una web-app diseñada per visualitzar els horaris personals dels alumnes de la ETSEIB. La seva intenció és tenir una interfície d'usuari amigable, i a la vegada capaç de mostrar moltes dades útils.</p>
            <h2>M'he de fer una compta?</h2>
            <p>No cal! Només has d'introduir el teu usuari i contrasenya de Atenea i visualitzaràs els teus horaris instantàniament!</p>
            <p>Si tens horaris que se solapen, aquests no es visualitzaran correctament. Tampoc es visualitzaran els horaris de pràctiques o classes especials d'un sol dia. Però segur que es farà en properes versions!</p>
            <h2>Com funciona?</h2>
            <p>Un cop hagis entrat les teves dades d'Atenea, podràs visualitzar els teus horaris. Clica en cada classe per veure molts més detalls!</p>
        </div>
	</body>
</html> 