<!DOCTYPE html>
<html>
	<head>
        <title>Hermes - Ajuda</title>
        <link rel="icon" href="/static/img/headerIcon.png">
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
        <!--Responsive-->
        <meta name='viewport' content='width=device-width, initial-scale=1 maximum-scale=1, user-scalable=0'>
		<!--jQUERY MIN.JS-->
		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
		<!--BOOTSTRAP CSS-->
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
		<!--BOOTSTRAP MIN.JS-->
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS' crossorigin='anonymous'></script>
		<!--MY CSS-->
		<link rel='stylesheet' type='text/css' href='/static/help.css?v={{ range(1,10000) | random() }}'>
        <!--My Fonts-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Raleway:400,500' rel='stylesheet'>
        <!--Google Icons-->
        <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	</head>
	<body>
        <div class='box'>
            <header>
                <a href="/"><i class="material-icons back">arrow_back</i></a>
                <h1>Ajuda</h1>
            </header>
            <h2>Què és Hermes?</h2>
            <p>Hermes és una cosa molt xula...</p>
            <h2 >Què és Hermes?</h2>
            <p>Hermes és una cosa molt xula...</p>
            <p>m Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</p>
            <p>m Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</p>
            <h2>Què és Hermes?</h2>
            <p>Hermes és una cosa molt xula...</p>
            <h2>Què és Hermes?</h2>
            <p>Hermes és una cosa molt xula...</p>
        </div>
	</body>
</html> 